@import 'variables', 'base', 'placeholders', 'mixins';

// (1) Header

.header {
    width: 100%;
    height: 3.75rem;
    background-color: inherit;
    @include flex($flex-direction: column, $justify-content: stretch);
    box-shadow: 0px 3px 10px #0000000d;

    // (1.1) Top Bar (Logo)

    &__top-bar {
        width: 100%;
        height: 3.75rem - 1.5rem;
        padding: 17px 20.94px 16px;
        border-bottom: 1px solid adjust-color($middle-grey, $alpha: -0.5);
        @include flex;
    }

    &__logo {
        width: 135px;
        height: 30px;
    }

    // (1.2) Search Bar

    &__search-bar {
        
        &--mobile {
            width: 100%;
            height: 1.5rem;
            position: relative;
            bottom: 42px;
        }
        
        &--tablet--desktop {
            display: none; // hides middle search-bar for non-mobile devices
        }
    }

    &__form {
        @extend %full-wh;
    }

    &__search-icon {
        height: 42px;
        position: relative;
        top: 42px;
        left: 23px;
        @include flex($justify-content: flex-start);
        display: inline-flex;

        img {
            width: 18px;
        }
    }

    &__input {
        @extend %full-wh;
        border: none;

        &::-webkit-input-placeholder {
            padding: 1.75rem;
            color: $middle-grey;
            font-family: $secondary-font;
            font-size: 0.5rem;
            font-weight: normal;
            font-style: normal;
            line-height: 17px;
        }
    }

    // (1.3) Profile

    &__profile {
        height: 100%;

        &-icon {
            height: 100%;
            @include flex($justify-content: center, $align-items: flex-end);
        }

        &-img {
            display: none; // hides profile picture and name for mobile devices
        }
    }
}

// (2) Main Content

.main {

    &__heading {
        width: 100%;
        margin: 2.5rem 20px 30px 20px;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 160%;
    }

    &__list {
        @include flex($flex-direction: column, $justify-content: flex-start, $align-items: stretch);
    }

    &__item {
        height: 5rem;
        border: 1px solid $light-grey;
        border-radius: 5px;
        margin: 10px 20px;
        @include flex($justify-content: center);

        &:first-child {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        height: 80px;

        // (1.1) Top Bar (Logo)

        &__top-bar {
            height: 100%;
            padding: 25px 20px;
            border-bottom: none;
        }

        // (1.2) Search Bar

        &__search-bar {

            &--mobile {
                display: none; // hides middle search-bar for mobile devices
            }

            &--tablet--desktop {
                margin: 0 50px;
                position: relative;
                bottom: 42px;
                height: 50px;
                display: inline-block;
                flex-grow: 1;
            }
        }

        &__input {
            height: 40px;
            border: 1px solid $light-grey;
            border-radius: 5px;
            margin-top: 5.5px;
        }

        // (1.3) Profile

        &__profile {
            height: 80px;
            padding-left: 19px;
            border-left: 1px solid adjust-color($middle-grey, $alpha: -0.5);
            @include flex;

            &-icon {
                display: none; // hides profile icon for non-mobile devices
            }

            &-img {
                width: 129px;
                height: 40px;
                @include flex;
            }

            &-name {
                height: 17px;
                color: $dark-grey;
                font-size: 0.5rem;
                font-weight: 400;
                letter-spacing: 0.01rem;
                line-height: 120%;
            }
        }
    }
}